body{
    background-color: #222852;
    font-family: Arial, Helvetica, sans-serif;
    color: #cfd8dc;
}
div,header{
    background-color: #cfd8dc;
    text-align: justify;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
button{
    background-color: #aa1f2b;
    color: #e5eef6;
    border-radius: 10px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
img{
    border-radius: 30px;
}
.link{
    text-decoration: none;
    color: #e5eef6;
}

.perfil_index{
    border-radius: 50px;
}
nav{
    background-color: #aa1f2b;
    color: #cfd8dc;
    width: auto;
    border-radius: 3%;
    text-align: center;
}